<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link rel="icon" th:href="@{favicon.png}">
    <script src="../js/jquery-3.5.0.js"></script>
    <script src="../js/main.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span class="text-white" id="hello-title" th:data="${user.id}">

    </span>
    <div th:insert="logout"></div>
</nav>
<div class="row">

    <div class="nav flex-column nav-pills container col-xl-2" id="v-pills-tab" role="tablist"
         aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#admin" role="tab"
           aria-controls="v-pills-home" aria-selected="true">Admin</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#user" role="tab"
           aria-controls="v-pills-profile" aria-selected="false">User</a>
    </div>
    <div class="tab-content container col-xl-10" style="background-color: #F8F9FA;" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h2 class="text-xl-left mt-2">Admin panel</h2>
            <ul class="nav nav-tabs ">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#all-users">Users table</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#new-user">New User</a></li>
            </ul>
            <div class="tab-content">
                <div id="all-users" class="tab-pane fade show active">
                    <table  class="table">
                        <tr>
                            <thead class="thead-light">
                            <th>All users</th>
                            </thead>
                        </tr>
                        <tr>
                            <td>
                                <table id="table-users" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="new-user" class="tab-pane fade">
                    <table id="new-user-table" class="table">
                        <tr>
                            <thead class="thead-light">
                            <th>Add new User</th>
                            </thead>
                        </tr>
                        <tr>
                            <td>
                                <p id="message"></p>
                                <form style="text-align: center">
                                    <label for="new-user-username">Логин:</label>
                                    <input id="new-user-username" type="text" name="username">
                                    <label for="new-user-password">Пароль:</label>
                                    <input id="new-user-password" type="password" name="password">
                                    <label for="new-user-role">Права:</label>
                                    <input id="new-user-role" type="checkbox" name="role" value="ADMIN">Admin</input>
                                    <input type="checkbox" name="role" value="USER" checked>User</input>
                                    <button type="button" id="new-user-btn" class="btn btn-success">Add new User</button>
                                </form>
                    </table>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h2 class="text-xl-left mt-2">User information-page</h2>

            <table class="table">
                <tr>
                    <thead class="thead-light">
                    <th>About User</th>
                    </thead>
                </tr>
                <tr>
                    <td>
                        <table id="user-info" class="table table-striped ">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>