<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link rel="icon" th:href="@{favicon.png}">
</head>
<body th:v>
<h1 style="text-align: center">Изменить информацию о пользователе</h1>
<hr>
<form style="text-align: center;word-spacing: 7px" method="post">
    <label for="id">ID:</label>
    <input readonly id="id" name="id" value="id" th:value="${user.getId()}">
    <label for="login">Логин:</label>
    <input id="login" type="text" name="username" value="Username" th:value="${user.username}">
    <label for="password">Пароль:</label>
    <input id="password" type="password" name="password" value="pass" th:value="${user.password}">
    <label for="role">Права:</label>
    <input id="role" type="checkbox" name="role" value="ADMIN">Admin</input>
    <input type="checkbox" name="role" value="USER" checked>User</input>
    <input type="submit" value="Сохранить" formaction="/admin/update">
</form>
<form style="text-align: center" method="get" action="/admin">
    <input type="submit" value="Назад">
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>